/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*this is my code*/

*{
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
    font-family: "Bebas";
    src: url("fonts/Bebas.ttf");
}
@font-face {
    font-family: "Catamaran";
    src: url("fonts/Catamaran.ttf");
}
button{
  display: inline-block;
   padding: 13px 15px;
   background-color: #2563eb;
   color: white;
   text-decoration: none;
   border: none;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   /* the tag below is use to add time to some thing to happen li when we add hover effects it change slowly in 0.3 seconds */
   /* all is use to say that at every change should happen within 0.3 seconds */
   /* ease is use to  starts and ends slowly. */
   transition: all 0.3s ease;
   /* transition-property: all;
transition-duration: 0.3s;
transition-timing-function: ease;
transition-delay: 0s; */
   }
   button:hover{
     /* scale is use to say how much precentage it should get bigger */
     transform: scale(1.2);
   }

body{
  background-attachment: fixed;
}
.img_box {
  width:100%;
}
.error_image{
  width:100%;
}

main{
  padding-top: 100px;

}
.massage{
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
.messsage-div{
margin-top:50px;
  display: block;
}
.f1 {

  bottom: 0;
  left: 0;
}
.messsage-div2{
  display: block;
  /*we count margins from the order top,right,bottom,left*/
  margin: 20px 10% 0 10%;

}
.hh{
  text-decoration: underline;
}
.messsage-div2 h4{
  font-size: 20px;
}
body{

  margin: 0;
  background-color: #f3f3f3;
}

header{
  position: fixed;
    top: 0;
  right: 0;
  left: 0;
  background-color: #fff ;
  width: 100%;
  height: 100px;
}
header .header-brand{
  /*the code below is used to capitalize the letters*/
  text-transform: uppercase;
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
header nav ul{
  display: block;
margin: 0 auto;
width: fit-content;
}
header nav ul li{
  display: inline-block;
  float:left;
  list-style: none;
  padding: 0 16px;

}
header nav ul li a{
  font-family: Catamaran;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}
header .header-cases{
  display: none;
}
.index-banner{
  width: 100%;
  /*the code below is used to calculate, that means if you put normally 100vh your web need to scroll that because you added a 100px header */
  height: calc(100vh - 100px);
  background-image: url('images/banner-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.index-banner h2{
  font-family: Catamaran;
  font-size: 60px;
  font-weight: 900;
  text-shadow: 2px 2px 8px #7124dc;
  color: #FFFFFF;
  text-align: center;
  line-height: 70px;
}
.index-banner h1{
  font-family: Catamaran garamond;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  /*the code below help to blur the picture around the sentence*/
  text-shadow: 2px 2px 8px #7124dc;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
}
.vertical-center{
display: table-cell;
vertical-align: middle;
}

.index-links div{
  /*the code below is the margin and below it is width so a calc tag is used to get the correct width even when you using a device with big or small screen and allso when you change the margin you have to put the answer of 2time of it in the width*/
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #a8a5a5;
}
.index-links div h3{
  font-family: Catamaran;
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-align: center;
  /*the below code is use to center the text it happen because in "index-links div"has a heightof 100px*/
  line-height: 100px;
  text-transform: uppercase;
}

/*footer start from heare*/
footer{
  width: 100%;
  padding: 40px 40px;
  background-color: #111;
 margin-top: 20px;
 /*the reasonto the code below is that their is a gap under the page so by using this code we can stop that gap*/
 overflow: hidden;
}
footer ul{
 width: fit-content;
 float: left;
 padding-left: 20px;

}
footer ul li{
  display: block;
  list-style: none;
}
footer ul li a{
  font-family: Catamaran;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}
.footer-link-cases{
  display: none;
  text-transform: uppercase;
}
.footer-link-main{
  text-transform: uppercase;
}
.yt-icon{
  width: 100%;
margin-bottom: 10px;
}
.yt-icon-box{
  float: right;
  width: 50px;
}



/*the code below is for the deckstop vesions*/
@media only screen and (min-width: 1000px) {
  .img_box{
    position: relative;
    width: 50%;
    float: left;
  }
  .messsage-div2{
    width: 50%;
    position: static;
    float: right;
    padding: 0px;
     /*we count margins from the order top,right,bottom,left*/
    margin: 50px 0px 0px 0px;
    display: inline-block;
}
.messsage-div2 h4 {
  font-size: 25px; /* change this to whatever size you want */
}
  header .header-brand{
    margin: 31px 0;
    text-align: left;
    padding: 0 20px 0 40px;
    /*the code below is used to make a line*/
    border-right: 3px solid #111;
    float: left;
    line-height: 40px;
  }
  header nav ul{
  margin: 20px 0 0 20px;
  float: left;
  }
  header nav ul li a{
    line-height: 60px;
  }
  header .header-cases{
    display: block;
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    line-height: 40px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px;
  }
}
/*cases1*/
.case-vid h2{
  font-family: Catamaran;
  font-size:28px;
  font-weight: 600;
  text-shadow: 2px 2px 8px #7124dc;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}
.case-vid iframe{
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}
.case-vid article h3{
  font-family: Catamaran;
  font-size:28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.case-vid article div p{
  font-family: Catamaran;
  font-size:16px;
  font-weight: 600;
  color: #111;
  line-height: 24px;
  /*the code below is used to make a 3 column paragraohs in cases1 page*/
  column-count: 3;
  column-gap: 30px;
}
/*cases (cases is not in the index page)*/
.cases-links .cases-link{
  width: 230px;
  height: 230px;
  margin: 20px 10px 0px;
  background-color: #e3e3e3;
  float: left;
}
.cases-links{
  overflow: hidden;
  margin-bottom: 30px;
}
.cases-links h2{
  font-family: Catamaran;
  font-size: 28px;
  font-weight: 600;
  color: #111;
  text-transform: uppercase;
}
.cases-links .cases-link p{
  /*the above code use to center the text in th box*/
  padding-top: 45%;
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 600;
  color: #111;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .index-banner{
    width: 100%;
    height: 450px;

  }
  .index-banner h1{
    display: block;
    width: 600px;
    margin: 0 auto;
  }
  .index-boxlink-square{
    /*the reason for the important tag is that if we run the code without it nothing will happen in the web page that because the height we put in the mobile version is stopping it so what happen in the important tag is ignorring allthe other codes and run this code*/
 width: calc(25% - 20px) !important ;
  }
  .index-boxlink-rectangle{
     width: calc(50% - 20px) !important ;
  }
  .index-links div{
    /*the code below is the margin and below it is width so a calc tag is used to get the correct width even when you using a device with big or small screen and allso when you change the margin you have to put the answer of 2time of it in the width*/
    margin: 20px 10px 0;
    height: 230px;
    background-color: #a8a5a5;
    float: left;
  }
  .index-links{
    padding-bottom: 20px;
    /*reason to overflow is that because so many items are floating in "index-links div"  the browser cant see which ones padding need to be change*/
     overflow: hidden;
  }
  .wrapper{
    width: 1000px;
    margin: 0 auto;
  }
  .index-links div h3{

    /*the below code is use to center the text it happen because in "index-links div"has a height of 230px*/
    line-height: 230px;
  }
}
@media only screen and (min-width: 1000px) {
  .footer-link-cases{
    display: block;
  }
  footer ul li p{
    font-family: Catamaran;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
  }
  footer ul{
  padding-right: 30px
  }
}
